/*
Name: Harshan Jayakumar
File: style2.css
Date: 19 June 2025

This css file includes code for color, borders, shadows, and centered text

Course code: INFT 1206 
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */